@model FirstMVCApp.Models.DogViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Hello World!!!!!!!</h1>
<p>Hello people this is Ryan!</p>

<h4>A dog name @Model.Name says hello.</h4>
<h4>@Model.Name is @Model.Age years old.</h4>